@font-face {
  font-family: CrashFont;
  src: url(../assets/crash-a-like.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to top, #768cdb 33%, #008b8b 100%);
  color: #dfdb84;
  font-size: 22px;
  text-shadow: 3px 5px #000;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #ff6522;
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: CrashFont;
  letter-spacing: 2px;
  border-bottom: 3px solid #000;
}
.main {
  padding: 0;
  flex: 1;
  overflow: auto;
}
.announcement {
  font-size: 28px;
  font-family: CrashFont;
  letter-spacing: 2px;
  font-style: normal;
  color: #dfdb84;
  text-shadow: 2px 2px #000;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1152px;
}
.individualCard {
  position: relative;
  margin: 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 20px;
}
.screenOverCharacters {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}
.characterContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards div p {
  text-align: center;
  margin-top: 1px;
  font-size: 18px;
  text-shadow: 5px 5px 5px #000;
}
.scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-family: CrashFont;
  letter-spacing: 2px;
}
.scoreContainer p {
  font-size: larger;
  color: #000;
  text-shadow: none;
}
.score {
  margin-left: 10px;
  margin-right: 10px;
  color: #dfdb84 !important;
  text-shadow: 2px 2px 1px#000 !important;
}
input {
  height: 100px;
  width: 100px;
}
.footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-shadow: none;
  color: #000;
  font-weight: 500;
  padding: 0.1em 1em;
  background: #d5d8dc;
  border: 1px solid #2c3e50;
  border-radius: 15px;
  margin: 1em 0.5em 0.5em;
}
.footer div {
  margin: 0.1em 0.2em;
}

.footer a {
  text-decoration: none;
}
.footer svg {
  margin: 0px 0.2em;
  width: 0.9rem;
  height: 0.9rem;
}
.logo a:hover svg path {
  fill: #ff6522;
}
